.banner {
  background-size: cover;
  background-position: 50% 40%;
  color:rgba(245, 245, 240, 0.9);
  text-shadow: 1px 1px 1px rgba(10, 10, 10, 0.9);
  height: 300px;
  vertical-align: middle;
  display: flex;
  padding: 25px;
}

.banner a {
  text-decoration: none;
  margin-top: 20px;
}

.banner h1 {
  font-size: 56px;
  margin: 0px;
}
