.footer {
  margin-top: 25px;
  background-color: rosybrown;
  padding: 15px;
  font-size: 0px;
}

.footer ul{
  font-size: 60px;
  text-align: center;
  color: rgb(63, 4, 4);
  margin: 0px;
  list-style-type: none;
  padding-left: 0;
}

.footer ul li {
  display: inline;
  padding: 0px;
}

#footer-heart {
  color:red;
  margin: 0px;
}

.footer p {
  text-align: center;
  margin-bottom: 10px;
  font-size: 15px;
}
